body{
    background-color: grey;
}
.imglog{
    border-radius: 80%;
    border: 4px solid #C0C0C0;
}
.log{
    background-color: white;
    border-radius: 10px;
    border: 4px solid #C0C0C0;
    height: 350px;
    padding-left: 25px;
    padding-right: 25px;
}
.reglink{
    text-align: right;
}
